.projects-section{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}
.projects-map{
    height: 100%;
    width: 100%;
    display: flex;
   background-color: rgba(255, 255, 255, 0.033);
    margin: 10px 10px;
    gap: 6rem;
   padding: 10px 10px;
    border-radius: 10px;
}
.proj-image{
    height: 280px;
    width: 600px;
    
  
    
}
.proj-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.proj-content{
    width: 500px;
}
.proj-content h3{
    margin-bottom: 10px;
}
.proj-content p{
    margin-bottom: 15px;
}
.proj-content a{
    font-size: 30px;
    color: black;
}
.links{
    display: flex;
    gap: 20px;
}
.links a{
    color: white;
}

@media (max-width: 990px){
    .proj-image{
        width: 300px;
        height: 160px;
    }
    .projects-map{
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .proj-content{
        width: 300px;
    }
}