.banner{
    height: calc(100vh - 90px);
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 40px 40px;
}
.banner-content{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-content h1{
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    transition: 0.2s ease;
}
.banner-content h1 span{
    font-weight: 700;
    background: -webkit-linear-gradient(40deg, rgba(69,90,244,1) 0%, rgba(19,48,67,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    margin-right: 350px;
}
.resume button{
    padding: 8px 10px;
    margin-top: 10px;
    font-family: "poppins";
    background-color: rgb(44, 49, 127);
    color: white;
    font-size: 15px;
    outline: none;
    border: none;
    transition: .2s ease-in-out;
    border-radius: 40px;
    width: 170px;
}
.resume button:hover{
    width: 150px;
    padding: 5px 20px;
    background-color: rgb(79, 88, 224);
}

@media (max-width: 900px) {
    .banner-content h1{
        font-size: 2.4rem;
    }
    .banner-content{
        padding: 50px;
    }
    .resume{
        position: relative;
        margin-right: 195px;
    }
    .resume button{
        width: 110px;
    }
    .resume button:hover{
        width: 100px;
        padding: 5px 10px;
        
    }
}